.submission{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border: 1px dashed orangered;
    background-color: rgba(255, 109, 109, 0.941);
    padding: 1rem;
    margin: 0.5rem 0;
    font-size: smaller;
}